<h1
    class="font-garamond md:leading-14 text-3xl font-extrabold leading-9 tracking-tight text-primary-700 sm:text-4xl sm:leading-10 md:text-6xl">
    @ChildContent</h1>
@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
}
